@*model IEnumerable<WebAppDemoBiblioteca.models.libros>*@
@model WebAppDemoBiblioteca.viewmodels.ListaAdquisicionesViewModel



<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Listado General de Adquisiciones</title>

</head>
<body>
    <h1>Listado General de Editoriales</h1>
    @*foreach (var Adquisiciones in Model)*@
    <h2>@Model.TipoAdquisicion</h2>
    <table border="1">
        <thead>
            <tr>
                <th>codigo aquisicion</th>
                <th>codigo proveedor</th>
                <th>cod usuario</th>
                <th>tipo adquisicion</th>
                <th>cantidad</th>
                <th>costo</th>
                <th>pago total</th>
                <th>fecha limite pago</th>
                <th>estado</th>
                <th>fecha adquisicion</th>
                <th>comprobante</th>
                <th>observacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Adquisiciones in Model.Adquisiciones)
            {
                <tr>
                    <td>@Adquisiciones.CodigoAdquisicion</td>
                    <td>@Adquisiciones.CodigoProveedor</td>
                    <td>@Adquisiciones.CodigoUsuario</td>
                    <td>@Adquisiciones.TipoAdquisicion</td>
                    <td>@Adquisiciones.Cantidad</td>
                    <td>@Adquisiciones.Costo</td>
                    <td>@Adquisiciones.PagoTotal</td>
                    <td>@Adquisiciones.FechaLimitePago</td>
                    <td>@Adquisiciones.Estado</td>
                    <td>@Adquisiciones.FechaAdquisicion</td>
                    <td>@Adquisiciones.Comprobante</td>
                    <td>@Adquisiciones.Observacion</td>

                </tr>
            }
        </tbody>
    </table>

</body>
</html>

