@*model IEnumerable<WebAppDemoBiblioteca.models.libros>*@
@model WebAppDemoBiblioteca.viewmodels.ListaEditorialesViewModel



<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Listado General de Editoriales</title>

</head>
<body>
    <h1>Listado General de Editoriales</h1>
    @*foreach (var libros in Model)*@
    <h2>@Model.EditorialesDestacados</h2>
    <table border="1">
        <thead>
            <tr>
                <th>codigo</th>
                <th>nombre Editorial</th>
                <th>direccion</th>
                <th>telefono</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Editoriales in Model.Editoriales)
            {
                <tr>
                    <td>@Editoriales.CodigoEditorial</td>
                    <td>@Editoriales.NombreEditorial</td>
                    <td>@Editoriales.Direccion</td>
                    <td>@Editoriales.Telefono</td>
                    <td>@Editoriales.Email</td>

                </tr>
            }
        </tbody>
    </table>

</body>
</html>
